#container {
    background-color: antiquewhite;
}

#container > .paragraph {
    color: red;
}

#container > .heading-three {
    color: blue;
}

#container > .content {
    background-color: pink;
    border: 2px solid black;
}